body{
	background:#f8f8f8;
	font-family:Arial, Helvetica,sans-serif;
	font-size:18px;
	color:#979797;
}

#addtask{
	border-top:1px solid #e5e5e5;
	text-align:center;
	padding-top: 10px;
}
#addtask:hover{
	color:gray;
	cursor:pointer;
}

#taskList{
	padding: 10px;
	border: 1px solid #e5e5e5;
	width:40%;
	margin:50px auto;
	border-radius:4px;
	background: #f1f1f1;
	min-width: 234px;
}
#taskList table{
	text-align: center;
	width: 100%;
	font-size: 15px;
	border-collapse: collapse;
}
#taskList table td{
	width:25%;
}
#taskList table td:nth-child(1){
	font-size:16px;
}
#taskList table:nth-child(2){
	margin-top:10px;
}
#taskList table:nth-child(2) td{
	text-decoration: line-through;
}
#form {
	padding: 10px;
	border: 1px solid #e5e5e5;
	width:40%;
	margin:50px auto;
	border-radius:4px;
	background: #f1f1f1;
	min-width: 250px;
	display: none;
}

button{
	display: block;
	margin: 10px auto;
	cursor: pointer;

}
label{
	width:100px;
	display: inline-block;
}
#form #selPrio,
#form .datetimepicker
{
	display: none;
}
.inlBl{
	display: inline-block !important;
}

i.fa.fa-edit,
i.fa.fa-trash-o{
	font-size: 18px;
	padding: 0 2px;
	vertical-align: middle;
}
i.fa.fa-check-square-o,
i.fa.fa-check-square
{
	font-size: 24px;
	padding-left: 15px;
	vertical-align: middle;

}
i.fa.fa-edit:hover,
i.fa.fa-trash-o:hover,
i.fa.fa-check-square:hover,
i.fa.fa-check-square-o:hover{
	cursor:pointer;
	color: black;
}

.newRow td{
	  -webkit-animation: blue2gray 3s linear;
	  -moz-animation:    blue2gray 3s linear; 
	  -o-animation:      blue2gray 3s linear; 
	  animation:         blue2gray 3s linear; 
}

@-webkit-keyframes blue2gray {
  0%   { background: #99CCFF;}
  100% { background: #f1f1f1; }
}
@-moz-keyframes blue2gray {
  0%   { background: #99CCFF;}
  100% { background: #f1f1f1; }
}
@-o-keyframes blue2gray {
  0%   { background: #99CCFF;}
  100% { background: #f1f1f1; }
}
@keyframes blue2gray {
  0%   { background: #99CCFF;}
  100% { background: #f1f1f1; }
}
